{{define "footer"}}
<footer class="fixed-bottom text-center text-white bg-dark" style="padding: 25px;font-size: 18px">
Powered by <a href="https://golang.org/">Go</a> in {{.CurrentYear}}
</footer>
{{end}}