{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "main"}}
{{if .IsAuthenticated}}
    <style>
        #container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        #map {
        height: 80vh;
        width: 80vw;
        }
    </style>
    <div id="container">
        <div id="map"> </div>
    </div>
    <script>
        // Initialize and add the map
        function initMap() {
          // The location of Hit
          const HIT = { lat:  32.01482928864921, lng: 34.773672350670545 };
          // The map, centered at HIT
          const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 18,
            center: HIT,
            mapTypeId: 'satellite',
            mapId: 'fead973edada4cc0'
          });
          let heatmapData = [];

          {{range .Markers}}
          // The marker, positioned at Hit
            heatmapData.push(
                {location: new google.maps.LatLng({{.Latitude}},{{.Longitude}}),
                weight:5});
            marker = new google.maps.Marker({
            position: { lat: {{.Latitude}}, lng: {{.Longitude}} },
            label: "{{.Name}}",
            animation: google.maps.Animation.BOUNCE,
            map: map,
           });
           var heatmap = new google.maps.visualization.HeatmapLayer({
            data: heatmapData,
            radius: 50,
            map: map
            });
           heatmap.setMap(map);
           
          
          {{end}} 
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{.GoogleMapsApiKey}}&libraries=visualization&callback=initMap">
    </script>
{{end}}
{{end}}