{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "main"}}
{{if .IsAuthenticated}}
    <style>
        #container {
        height: 80vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        #map {
        height: 80vh;
        width: 80vw;
        }
        #hour {
        -webkit-apperarance: none;
        width: 100%;
        height: 7px;
        outline: none;
        border-radius: 3px;

        }
    </style>
    <div class="container" class="mb-4">
        <div class="row">
                <h4 id="hour-text" class="text-center"></h4>
        </div>
        <div class="d-flex justify-content-center my-4">
          <span class="font-weight-bold purple-text mr-2 mt-1">0</span>
          <form class="range-field w-75">
            <input id="hour" class="border-0" type="range" min="0" max="23" onchange="initMap()" />
          </form>
          <span class="font-weight-bold purple-text ml-2 mt-1">23</span>
        </div>
        <p>You can scroll through the hours bar to see the amount of noise on average in HIT at each hour.</p>
      
    </div>

    <div id="container" >
        <div id="map"> </div>
    </div>
    <script>
        // Initialize and add the map
        function initMap() {
        let hour = Number(document.getElementById("hour").value);
        document.getElementById("hour-text").textContent="Currently you are viewing the average noise amount at " +hour+":00";
          // The location of Hit
          const HIT = { lat:  32.01482928864921, lng: 34.773672350670545 };
          // The map, centered at HIT
          const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 18,
            center: HIT,
            mapId: 'fead973edada4cc0'
          });
          let heatmapData = [];

          {{range .Markers}}
          // The marker, positioned at Hit
            heatmapData.push(
                {location: new google.maps.LatLng({{.Latitude}},{{.Longitude}}),
                weight:5});
            marker = new google.maps.Marker({
            position: { lat: {{.Latitude}}, lng: {{.Longitude}} },
            label: "{{.Name}}",
            animation: google.maps.Animation.BOUNCE,
            map: map,
           });
           
           radius =0;
           if (hour <= 7) {
            radius = 0;
           } else if (hour >=8 && hour <=15)  {
            radius=60;
           } else if (hour==23){
              radius=12;
           } else {
              radius=30;

           }
           var heatmap = new google.maps.visualization.HeatmapLayer({
            data: heatmapData,
            radius: radius,
            map: map
            });
           heatmap.setMap(map);
           
          
          {{end}} 
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{.GoogleMapsApiKey}}&libraries=visualization&callback=initMap">
    </script>
{{end}}
{{end}}